.Filters {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-y: auto;

  padding: 8px;
  width: 40%;
  max-height: calc(100vh - 200px);

  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__formItem {
    border: 1px solid #d9d9d9;
    padding: 8px !important;

    small {
      opacity: 0.3;
    }
  }
}
